* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
}

body {
  height: 100vh;
  font-family: varela, sahe1;
  background: linear-gradient(180deg, #2c3e50 50%, #1a1a1a 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "varela";
  src: url("./assets/varela-round.ttf");
}

@font-face {
  font-family: "sahel" "";
  src: url("./assets/sahel.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button,
input {
  font-family: varela;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.app-container {
  width: 90%;
  background-color: #1f1f1f;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  font-size: 3.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #2e2e2e;
  padding: 2rem 1.5rem;
}

.back-btn {
  display: none;
  color: #6c90c6;
  text-shadow: 0 0 5px rgba(108, 144, 198, 0.3),
    0 0 10px rgba(108, 144, 198, 0.2), 0 0 15px rgba(108, 144, 198, 0.1);
}

.fa {
}

.title {
  color: #6c90c6;
  text-shadow: 0 0 5px rgba(108, 144, 198, 0.3),
    0 0 10px rgba(108, 144, 198, 0.2), 0 0 15px rgba(108, 144, 198, 0.1);
}

.search-box-container {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-form.loading::after {
  content: "";
  background-color: #6c90c6;
  box-shadow: 0 0 6px rgba(108, 144, 198, 0.719);
  height: 1.2px;
  width: 98%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: input-loading 1.1s ease infinite;
}

@keyframes input-loading {
  0% {
    width: 10%;
  }
  50% {
    width: 98%;
  }
  100% {
    width: 10%;
  }
}

.error-message {
  color: #ff5252;
  font-size: 1.8rem;
  padding: 1rem;
  height: 4rem;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ff5252;
  margin-bottom: 1.5rem;
  display: none;
}

.search-input {
  font-size: 1.7rem;
  background-color: #333;
  border-radius: 5px;
  height: 4rem;
  width: 100%;
  padding: 1rem;
  border: 1px solid #555;
  color: white;
}

.seprator {
  position: relative;
  width: 100%;
  font-size: 2rem;
  color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.seprator::after {
  content: "";
  background-color: #2e2e2e;
  width: 45%;
  height: 1px;
  position: absolute;
  right: 0;
}

.seprator::before {
  content: "";
  background-color: #2e2e2e;
  width: 45%;
  height: 1px;
  position: absolute;
  left: 0;
}

.device-loc-btn {
  background-color: #6c90c6;
  width: 100%;
  height: 4.5rem;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.result-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.weater-icon {
  width: 20rem;
}

.text-temperature {
  font-size: 4rem;
}

.text-description {
  font-size: 1.5rem;
}

.location-box {
}

.fa-map-marker {
  font-size: 1.5rem;
}

.text-location {
  font-size: 1.5rem;
  width: 100%;
}

.weather-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.detail-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #2e2e2e;
  border-bottom: 0;
  width: 50%;
  padding: 2rem 1.5rem;
}

.bx {
  font-size: 3rem;
  color: #6991cc;
}

.feels-like-text {
  font-size: 1.5rem;
}

.detail-text {
  font-size: 1.5rem;
}

.humadity-text {
  font-size: 1.5rem;
}

/* 
==============
  Responsive
==============
*/

/* ====== 480px ====== */

@media (min-width: 480px) {
}

/* ====== 576px ====== */
@media (min-width: 576px) {
  .app-container {
    width: 75%;
  }
}

/* ====== 768px ====== */
@media (min-width: 758px) {
  .app-container {
    width: 60%;
  }
}

/* ====== 992px ====== */
@media (min-width: 992px) {
  .app-container {
    width: 45%;
  }
}

/* ====== 1200px ====== */
@media (min-width: 1200px) {
  .app-container {
    width: 30%;
  }
}
